.Rproj.user
.Rhistory
.RData
.Ruserdata
Numbers pictures.zip
Numbers pictures
Reciprocity experiment pictures.docx
sample.html
Reciprocity experiment with Tomasz.pdf
~$ciprocity experiment pictures.docx
names.csv
names.txt