@media only screen and (min-width: 600px)  {
    .consent{
        font-size: 90%;
        text-align: left;
        margin: 5% 10%;
    }
    .mob-btn{
        font-size: 120%;
    }
}

.picture-select:hover{
    outline: 3px solid #555;
    border-radius: 25px;

}

#jspsych-survey-multi-select-response-0-0{
    display: none;
}
#jspsych-survey-multi-select-response-0-1{
    display: none;
}
#jspsych-survey-multi-select-response-0-2{
    display: none;
}
#jspsych-survey-multi-select-response-0-3{
    display: none;
}
#jspsych-survey-multi-select-response-0-4{
    display: none;
}
#jspsych-survey-multi-select-response-0-5{
    display: none;
}
